mainmenu "EI Camera inference configuration"

menu "Video capture configuration"

config VIDEO_SOURCE_CROP_LEFT
	int "Crop area left value"
	default 0
	help
	   Left value of the crop area within the video source.

config VIDEO_SOURCE_CROP_TOP
	int "Crop area top value"
	default 0
	help
	   Top value of the crop area within the video source.

config VIDEO_SOURCE_CROP_WIDTH
	int "Crop area width value"
	default 0
	help
	   Width value of the crop area within the video source.
	   If set to 0, the crop is not applied.

config VIDEO_SOURCE_CROP_HEIGHT
	int "Crop area height value"
	default 0
	help
	   Height value of the crop area within the video source.
	   If set to 0, the crop is not applied.

config VIDEO_FRAME_HEIGHT
	int "Height of the video frame"
	default 0
	help
	  Height of the video frame. If set to 0, the default height is used.

config VIDEO_FRAME_WIDTH
	int "Width of the video frame"
	default 0
	help
	  Width of the video frame. If set to 0, the default width is used.

config VIDEO_PIXEL_FORMAT
	string "Pixel format of the video frame"
	help
	  Pixel format of the video frame. If not set, the default pixel format is used.

config INFERENCE_BUFFER_USE_SECTION
	bool "Use section for inference buffer"
	default n

config INFERENCE_BUFFER_SECTION_NAME
	string "Section where the inference buffer will be allocated"
	default ""
	help
	  Section

config USE_SHARED_MULTI_HEAP
	bool "Use Shared heap for system heap"
	default n
	help
		Use Shared heap for system heap

config USE_EXTERNAL_HEAP
	bool	"use additional k_heap"
	default n

config USE_EXTERNAL_HEAP_SECTION
	string "Section for ei heap"
	default ""
	help
	  Section for external heap

config USE_EXTERNAL_HEAP_SIZE
	int "Size of the external heap"
	default 0
	help
	  Size of the external heap in bytes

endmenu

source "Kconfig.zephyr"
